<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/3_Agrupacion_y_Agregacion/ejercicio/ejercicio.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>

Vamos a trabajar sobre el mismo DataFrame que usamos en clase pero agrupando a nivel de comunidad autónoma (Cod_CCAA). En este caso vamos a traer también las descripciones y vamos a hacer un join para formar un único data set.

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/parodesprov.csv')

In [3]:
df_descripciones = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/comunidades_descripcion.csv')

Unan ambos DataFrames utilizando la función pd.merge()

In [4]:
df.sample(5)

,OBJECTID,Codigo,Texto,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop
11388,11389,20903,Astigarraga,20,16,271.0,6077.0,NaN,NaN,2.266350e+07,25438.109280,NaN
9017,9018,7053,Santa Eugènia,7,4,60.0,1653.0,NaN,NaN,3.417319e+07,31018.473210,NaN
15406,15407,46214,Riba-roja de Túria,46,10,1767.0,21626.0,NaN,NaN,9.671310e+07,56434.099093,NaN
2452,2453,16909,Sotorribas,16,8,44.0,791.0,Cuenca,8.0,2.567736e+08,88077.038576,16.0
14945,14946,44218,Tormón,44,2,0.0,34.0,NaN,NaN,5.036839e+07,30972.729574,NaN

In [5]:
df.describe()

,OBJECTID,Codigo,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop
count,16339.00000,16339.000000,16339.000000,16339.000000,16246.000000,1.624900e+04,8125.000000,1.633900e+04,16339.000000,8125.000000
mean,8170.00000,26820.492870,26.687680,7.782361,462.560753,5.731377e+03,7.742646,1.066681e+08,50601.106917,26.664369
std,4716.80736,14856.581933,14.857357,4.052402,3240.543592,4.651102e+04,4.027889,1.536959e+08,37599.471477,14.895152
min,1.00000,1001.000000,1.000000,1.000000,0.000000,5.000000e+00,1.000000,4.348223e+04,892.734082,1.000000
25%,4085.50000,13097.000000,13.000000,7.000000,7.000000,1.600000e+02,7.000000,3.210995e+07,28681.246820,13.000000
50%,8170.00000,26042.000000,26.000000,7.000000,31.000000,5.350000e+02,7.000000,6.106896e+07,40789.256513,26.000000
75%,12254.50000,41016.000000,41.000000,10.000000,172.000000,2.408000e+03,10.000000,1.197736e+08,61192.592048,41.000000
max,16339.00000,52001.000000,52.000000,19.000000,193568.000000,3.182981e+06,19.000000,2.934581e+09,821289.000072,52.000000

In [6]:
# Chequeo que la clave no tenga nulos
# df[df['Cod_CCAA'].isnull().any(axis=1)]
df.loc[:].isnull().any(axis=0)

OBJECTID               False
Codigo                 False
Texto                   True
Cod_Prov               False
Cod_CCAA               False
TotalParoRegistrado     True
PAD_1C02                True
PAD_1_COD_PROV          True
PAD_1_COD_CCAA          True
Shape__Area            False
Shape__Length          False
Codigop                 True
dtype: bool

In [7]:
df_descripciones.sample(5)

    Código                      Literal
5        6                    Cantabria
16      17                    Rioja, La
1        2                       Aragón
14      15  Navarra, Comunidad Foral de
7        8         Castilla - La Mancha

In [8]:
# Renombramos las columnas para sacar el acento de la ó
df_descripciones.columns=['Codigo', 'Literal']

In [9]:
df_descripciones.describe()

          Codigo
count  19.000000
mean   10.000000
std     5.627314
min     1.000000
25%     5.500000
50%    10.000000
75%    14.500000
max    19.000000

In [10]:
df.shape

(16339, 12)

In [11]:
df.columns

Index(['OBJECTID', 'Codigo', 'Texto', 'Cod_Prov', 'Cod_CCAA',
       'TotalParoRegistrado', 'PAD_1C02', 'PAD_1_COD_PROV', 'PAD_1_COD_CCAA',
       'Shape__Area', 'Shape__Length', 'Codigop'],
      dtype='object')

In [12]:
df_merge = df.merge(df_descripciones, left_on='Cod_CCAA', right_on='Codigo')

In [13]:
df_merge.columns

Index(['OBJECTID', 'Codigo_x', 'Texto', 'Cod_Prov', 'Cod_CCAA',
       'TotalParoRegistrado', 'PAD_1C02', 'PAD_1_COD_PROV', 'PAD_1_COD_CCAA',
       'Shape__Area', 'Shape__Length', 'Codigop', 'Codigo_y', 'Literal'],
      dtype='object')

Construir el DataFrame de comunidades autónomas, incluyendo la densidad, la proporción de paro y la cantidad de municipios.

In [14]:
df_merge.drop(columns=['Codigo_x','Codigop', 'Codigo_y'], inplace=True)
# df_merge.reset_index(inplace=True)

In [28]:
df_merge.sort_values(['Cod_CCAA','Cod_Prov'])

,Id,Nom_Prov,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Nom_CCAA
3424,280,Abla,4,1,78.0,1294.0,Almería,1.0,7.137098e+07,58571.308777,Andalucía
3425,281,Abrucena,4,1,82.0,1208.0,Almería,1.0,1.318875e+08,73625.731043,Andalucía
3426,282,Adra,4,1,2174.0,24713.0,Almería,1.0,1.406545e+08,64131.043296,Andalucía
3427,283,Albánchez,4,1,22.0,796.0,Almería,1.0,5.560038e+07,34419.112746,Andalucía
3428,284,Alboloduy,4,1,39.0,613.0,Almería,1.0,1.097154e+08,60033.891815,Andalucía
...,...,...,...,...,...,...,...,...,...,...,...
14716,12387,Zorraquín,26,17,0.0,90.0,NaN,NaN,1.178368e+07,16096.983247,"Rioja, La"
16335,8169,Ceuta,51,18,12477.0,84519.0,Ceuta,18.0,2.944199e+07,50690.389444,Ceuta
16336,16338,Ceuta,51,18,12438.0,84959.0,NaN,NaN,2.944199e+07,50690.387388,Ceuta
16337,8170,Melilla,52,19,10868.0,86026.0,Melilla,19.0,1.993434e+07,30499.616256,Melilla
16338,16339,Melilla,52,19,10805.0,86120.0,NaN,NaN,1.993434e+07,30499.616895,Melilla

In [16]:
df_merge.columns=['Id','Nom_Prov', 'Cod_Prov', 'Cod_CCAA', 'TotalParoRegistrado', 'PAD_1C02',
       'PAD_1_COD_PROV', 'PAD_1_COD_CCAA', 'Shape__Area', 'Shape__Length',
       'Nom_CCAA']

In [17]:
df_merge.columns

Index(['Id', 'Nom_Prov', 'Cod_Prov', 'Cod_CCAA', 'TotalParoRegistrado',
       'PAD_1C02', 'PAD_1_COD_PROV', 'PAD_1_COD_CCAA', 'Shape__Area',
       'Shape__Length', 'Nom_CCAA'],
      dtype='object')

In [29]:
df_ccaa = df_merge.groupby(['Cod_CCAA', 'Nom_CCAA']).aggregate({'Shape__Area':'sum',
                                                              'PAD_1C02':'sum',
                                                              'TotalParoRegistrado':'sum',
                                                               'Id':'size'}).reset_index()

In [30]:
df_ccaa['propoc_paro']=df_ccaa['TotalParoRegistrado']/df_ccaa['PAD_1C02']

In [36]:
df_ccaa['densidad']=df_ccaa['PAD_1C02']/df_ccaa['Shape__Area']

In [37]:
df_ccaa

,Cod_CCAA,Nom_CCAA,Shape__Area,PAD_1C02,TotalParoRegistrado,Id,propoc_paro,densidad
0,1,Andalucía,2.786058e+11,16767927.0,1786171.0,1556,0.106523,0.000060
1,2,Aragón,1.704497e+11,2617313.0,162412.0,1462,0.062053,0.000015
2,3,"Asturias, Principado de",4.004387e+10,2077568.0,172450.0,156,0.083006,0.000052
3,4,"Balears, Illes",1.679532e+10,2223219.0,131888.0,134,0.059323,0.000132
4,5,Canarias,1.924110e+10,4210045.0,462611.0,176,0.109883,0.000219
5,6,Cantabria,2.005078e+10,1162501.0,91447.0,204,0.078664,0.000058
6,7,Castilla y León,3.389913e+11,4873320.0,361767.0,4496,0.074234,0.000014
7,8,Castilla - La Mancha,2.679515e+11,4073110.0,404657.0,1838,0.099348,0.000015
8,9,Cataluña,1.156846e+11,15078426.0,907046.0,1894,0.060155,0.000130
9,10,Comunitat Valenciana,7.802774e+10,9901477.0,850908.0,1084,0.085937,0.000127
10,11,Extremadura,1.388490e+11,2167698.0,248599.0,776,0.114683,0.000016
11,12,Galicia,1.097816e+11,5426864.0,423067.0,627,0.077958,0.000049
12,13,"Madrid, Comunidad de",2.780257e+10,12974180.0,830900.0,358,0.064043,0.000467
13,14,"Murcia, Región de",3.650007e+10,2935120.0,235001.0,90,0.080065,0.000080
14,15,"Navarra, Comunidad Foral de",3.858086e+10,1283881.0,82216.0,634,0.064037,0.000033
15,16,País Vasco,2.695351e+10,4383692.0,278234.0,502,0.063470,0.000163
16,17,"Rioja, La",1.844165e+10,631175.0,38800.0,348,0.061473,0.000034
17,18,Ceuta,5.888399e+07,169478.0,24915.0,2,0.147010,0.002878
18,19,Melilla,3.986869e+07,172146.0,21673.0,2,0.125899,0.004318

In [38]:
df_ccaa.describe()

,Cod_CCAA,Shape__Area,PAD_1C02,TotalParoRegistrado,Id,propoc_paro,densidad
count,19.000000,1.900000e+01,1.900000e+01,1.900000e+01,19.000000,19.000000,19.000000
mean,10.000000,9.172893e+10,4.901534e+06,3.955138e+05,859.947368,0.085146,0.000466
std,5.627314,1.031822e+11,5.044395e+06,4.364423e+05,1077.135526,0.025409,0.001134
min,1.000000,3.986869e+07,1.694780e+05,2.167300e+04,2.000000,0.059323,0.000014
25%,5.500000,1.964594e+10,1.680724e+06,1.116675e+05,166.000000,0.063754,0.000034
50%,10.000000,3.858086e+10,2.935120e+06,2.485990e+05,502.000000,0.078664,0.000060
75%,14.500000,1.272668e+11,5.150092e+06,4.428390e+05,1273.000000,0.102936,0.000148
max,19.000000,3.389913e+11,1.676793e+07,1.786171e+06,4496.000000,0.147010,0.004318

In [32]:
df_ccaa['propoc_paro'].mean()

0.08514552593625421

In [46]:
mediana_paro = df_ccaa['propoc_paro'].median()

In [47]:
mediana_densidad = df_ccaa['densidad'].median()

In [33]:
df_merge['TotalParoRegistrado'].sum()/df_merge['PAD_1C02'].sum()

0.08069184360555676

Habíamos visto que el promedio de la proporción de paro en los municipios con una densidad menor a la mediana es más bajo.. ¿Se cumple lo mismo para las provincias?

In [48]:
df_ccaa['propoc_paro'][df_ccaa['densidad']< mediana_densidad].mean()

0.07949514976643736

In [49]:
df_ccaa['propoc_paro'][df_ccaa['densidad']> mediana_densidad].mean()

0.08842061984034848

¿Cuál es la comunidad autónoma con mayor cantidad de municipios?

In [50]:
df_ccaa[df_ccaa['Id']==df_ccaa['Id'].max()]

,Cod_CCAA,Nom_CCAA,Shape__Area,PAD_1C02,TotalParoRegistrado,Id,propoc_paro,densidad
6,7,Castilla y León,3.389913e+11,4873320.0,361767.0,4496,0.074234,0.000014

In [ ]:
df